In [7]:
pip install sys

Note: you may need to restart the kernel to use updated packages.

'C:\Users\BEST' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
sys.stdout.write("Enter list of nums")
#sys.stdout.flush() #A data buffer is a region of physical memory storage used to temporarily store data while it is being moved from one place to another
input_line = sys.stdin.readline().strip()
nums = input_line.strip()
print(nums)

Enter list of nums

In [9]:
import io

In [49]:
with open("sample.txt","r") as input_file:
    input_stream = str(input_file.readlines())
print(input_stream)
with open("sample.txt","w") as output_file:
    output_file.write("010")

['hi']

In [50]:
with open("sample.txt","rb") as inp_file:
    inp_str = inp_file.readlines()
print(inp_str)

[b'010']

In [45]:
data = [
    ['name','age','gender'],
    ['alice','24','F'],
    ['Bob','27','M'],
    ['Charlie','25',"M"]
]
with open('sample.csv','a') as inp:
    writer  = csv.writer(inp)
    writer.writerows(data)

In [46]:
with open("sample.csv") as out:
    reader = csv.reader(out)
    for row in reader:
        print(row)

['name', 'age', 'gender']
[]
['alice', '23', 'F']
[]
['Bob', '26', 'M']
[]
['Charlie', '25', 'M']
[]
['name', 'age', 'gender']
[]
['alice', '24', 'F']
[]
['Bob', '27', 'M']
[]
['Charlie', '25', 'M']
[]

In [52]:
# with open("sample.txt",'x') as new_file: 
# file mode "x" is for exclusive creation and fails if file already exists-> error:File exists: 'sample.txt'
#     inp_str = new_file.readlines()
# print(inp_str)

In [78]:
#creating dataframes
import pandas as pd
import numpy as np
lst = [
    ['hi','i','am','dhvani'],
    ['hello','a','b','c']
]
df = pd.DataFrame(lst)
print(df)

       0  1   2       3
0     hi  i  am  dhvani
1  hello  a   b       c

In [79]:
#creating dataframes from dict
data = {'Name': ['a','b','c'],
       'age':[23,np.nan,45]}
df= pd.DataFrame(data)
print(df)

  Name   age
0    a  23.0
1    b   NaN
2    c  45.0

In [80]:
#accessing a particular column
import pandas as pd
 
# select two columns
print(df["age"])

0    23.0
1     NaN
2    45.0
Name: age, dtype: float64

In [81]:
first = df.iloc[2]
print(first)

Name     c
age     45
Name: 2, dtype: object

In [83]:
df.notnull()

   Name    age
0  True   True
1  True  False
2  True   True

In [84]:
df.isnull()

    Name    age
0  False  False
1  False   True
2  False  False

In [93]:
df = df.fillna(0)

In [94]:
df

  Name   age
0    a  23.0
1    b   0.0
2    c  45.0

In [111]:
data = {
    "Name": ["A","B","C","D","E"],
    "Age":[23,34,45,56,67],
    "Gender":['M','F','M','F','M'],
    "POST":['CEO','CFO','MANAGER','ASST. MANAGER','INTERN'],
    "Salary":[1000,2000,3000,4000,500]
            }
df = pd.DataFrame(data)

In [112]:
df

  Name  Age Gender           POST  Salary
0    A   23      M            CEO    1000
1    B   34      F            CFO    2000
2    C   45      M        MANAGER    3000
3    D   56      F  ASST. MANAGER    4000
4    E   67      M         INTERN     500

In [113]:
print(df['Gender'])

0    M
1    F
2    M
3    F
4    M
Name: Gender, dtype: object

In [114]:
print(df[df['Age']>44])

  Name  Age Gender           POST  Salary
2    C   45      M        MANAGER    3000
3    D   56      F  ASST. MANAGER    4000
4    E   67      M         INTERN     500

In [115]:
group = df.groupby("Gender").agg({'Age':'mean','Salary':'mean'})
print(group)

        Age  Salary
Gender
F        45    3000
M        45    1500

In [121]:
summary = df[['Age','Salary']].describe()
print(summary)

             Age       Salary
count   5.000000     5.000000
mean   45.000000  2100.000000
std    17.392527  1431.782106
min    23.000000   500.000000
25%    34.000000  1000.000000
50%    45.000000  2000.000000
75%    56.000000  3000.000000
max    67.000000  4000.000000

In [126]:
#creating streams 
def fun():
    for i in range(20):
        yield i*2
data=fun()
for val in data:
    print(val)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [131]:
#return(runs only 1 time)vs yield(runs multiple times)
def returnres(string):
    for i in string:
        if i == "e":
            return i
def yieldres(string):
    for i in string:
        if i == "e":
            yield i      
string = input()
ans = 0
ans1=0
print("No of e using yield =",end="")
string = string.strip()
for j in yieldres(string):
    ans = ans+1
print(ans)
print("No of e using return =",end="")
string = string.strip()
for j in returnres(string):
    ans1 = ans1+1
print(ans1)

heeello
No of e using yield =3
No of e using return =1

In [135]:
obj = open("sample.txt","a")
obj.write("Hi")
obj.write("second line")
obj.write("third line")

10

In [141]:
obj= open("sample.txt",'r+')
for row in obj:
    print(row)

Hisecond linethird lineHisecond linethird lineHisecond linethird line

In [142]:
obj.close()

In [143]:
obj

In [158]:
#wwritig numbrs to a file
obj1 = open("sample.txt","w")
for i in range(1,21):
    obj1.write(str(i))
    obj1.write("\n")

In [ ]:
#wap to read the contents of a file Grades.txt and calculate the total
#marks and percentage obtained by a student.

In [179]:
obj1 = open("sample1.txt","r")
n = int(obj1.readline())
print("Total no of students",n)
sum1=0
for i in range(n):
    print("Student",i+1,end="")
    allgrades = obj1.readline().split()
    print(allgrades)
    for j in range(len(allgrades)):
        sum1 += int(allgrades[j])
        perc = float((sum1/500)*100)
    print('total',sum1,'perc',perc)

Total no of students 3
Student 1['60', '70', '80', '90', '100']
total 400 perc 80.0
Student 2['40', '50', '60', '70', '80']
total 700 perc 140.0
Student 3['10', '20', '30', '40', '50']
total 850 perc 170.0

In [221]:
#seek func
with open("sample.txt","w+") as obj1 : 
    obj1.writelines(["Hi i am dhvani","this is a new line","how about coffee"])
    #obj1.write("\n hello there")
    obj1.seek(4)
    obj1.write("Change")
    obj1.seek(0)
    content = obj1.read()
    print(content)

Hi iChangevanithis is a new linehow about coffee